.main_graph_div{
    background-color: #0b0d11;
    border: 1px solid #23252d;
    /*border-top-left-radius: 26px;*/
    /*border-top-right-radius: 26px;*/
    border-radius: 26px;
}

.top_bar_list{
    padding-top: 10px;
    border-top: 1px solid #23252d;
}
.top_nav_div{
    padding: 10px;
}
.top_nav_bar_list{
    list-style: none;
}
.top_nav_bar_list li{
    display: inline-block;
    margin: 0px 13px;
}
.top_nav_bar_list li a{
    color: #808191 !important;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    text-decoration: none !important;

}
.top_nav_bar_list li a.active{
    background-color: #191B20;
    padding: 16px 17px;
    border-radius: 24px;
    color: #355DFF !important;
}

.nav_icon_list{
    list-style: none;
    float: right;
}
.nav_icon_list li{
    display: inline-block;
    width: 90px;
}
.nav_icon_list li img{
    padding: 0px 5px;
}
.nav_icon_list li span{
    font-family: Roboto;
    font-size: 14px;
    color: #FFFFFF !important;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}
.open_image_btn{
    cursor: pointer;
}

.num_list_data{
    list-style: none;
    margin-left: 20px;
}
.num_list_data li{
    display: inline-block;
    padding: 8px;
}
.num_list_data li a{
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
    color: #808191 !important;

}
.num_list_data li a span{
    font-family: Roboto;
    color: #FF7A68 !important;
    margin-left: 5px;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
}
.tv-lightweight-charts{
    height: 370px !important;
    margin-bottom: 30px;
    margin-top: 20px;
}

@media (max-width:1328px){
    .nav_icon_list li{
        width: 85px;
    }
}

@media (max-width:1272px){
    .nav_icon_list li{
        width: 84px;
    }
}
@media (max-width:1256px){
    .top_right-btn{
        width: 65px !important;
    }
}

@media (max-width:1199px){
    .nav_icon_list{
        float: left;
        margin-left: 20px;
    }
}
